@charset "utf-8";

input{
  -webkit-user-select: auto;
}
/*格式化*/
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td, span, input, textarea {margin:0;padding:0;}
body{ font-size:14px;font-family:"Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif; background:#f9f9f9; min-width: 320px; max-width: 640px; margin: 0 auto;}
li, ol { list-style:none; }
ins { text-decoration:none; }
i, em { font-style:normal; }
a { text-decoration:none;font-family:"Microsoft Yahei"; color:#666;}
a:hover { cursor:pointer; text-decoration:none;}
a:active{star:expression(this.onFocus=this.blur());}
:focus{outline:0;}
.clear {clear:both; line-height:0px!important; height:0px!important;font-size:0px!important;} 
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
img{ padding:0; margin:0;}
a img { border:none; }
input,textarea{ border:none;font-family:"Microsoft Yahei"; font-size:13px;}
h1, h2, h3, h4, h5, h6{ font-weight:normal; font-size:14px;}
/*排版通用*/
.f-mm{ margin-left:auto; margin-right:auto;}/*居中对齐*/
.f-fl{ float:left;} /*左浮动*/
.f-fr{ float:right;} /*右浮动*/
.f-tr{ text-align:right;} /*右对齐*/
.f-tl{ text-align:left;} /*左对齐*/
.f-tc{ text-align:center;} /*中间对齐*/
.f-pr{ position:relative;} /*定位*/
.f-di{ display:inline;}
/*杂项*/
.u-co-bt{ border-radius:4px; /*css3圆角*/ width:80px; height:26px; line-height:26px; display: inline-block; vertical-align: middle;  padding-top:1px;}/*提交按钮样式*/
.u-co-bt.z-spe{ width:100%;}
.u-lico{ width:24px; height:24px; border-radius:4px;  /*css3圆角*/ background:#000; padding:10px;opacity: 0.8; position:relative; left:50%; margin:10px 0 10px -14px; box-shadow:0 0 3px #2d2d2d;}/*等待载入*/
.fs15{font-size:15px;} /*15号字体*/
.fs12{font-size:12px;} /*12号字体*/
.pdr12{ padding-right:12px;} /*右边距12px*/
.pl10{ padding-left:10px;} /*左边距10px*/
.red { color:#f00; } /*字体颜色红色*/
.emptyData{padding-left:10px;line-height:26px; }
/* -- 页面整体布局 -- */
.wrap{ min-width:320px; max-width:640px; margin:0 auto; overflow:hidden; position:relative; background:#fff;} /*网站首页宽度*/

/*内页返回开始*/
.g-back{ overflow: hidden;position: relative;text-align:right;margin-top:1px; height:38px; padding:7px 11px 0 9px;} /*内页返回布局样式*/
.g-back a{display: inline-block;font-size:0.875em;height: 32px;line-height: 28px; width:32px;position: relative;}	/*内页返回链接样式*/
.g-back .u-bp { background-position:0 0; } /*内页返回样式*/
.g-back .u-bl {background-position:0 -286px;  } /*内页回到首页样式*/
.g-back .u-bh { margin-right:10px; background-position:0 -232px;} /*内页目录样式*/
/*内页返回结束*/



/*------通用部件-----*/
/*首页标题 开始*/
.m-tit{ position:relative; text-indent:10px; height:38px; font-size:15px; line-height:38px;} /*首页产品导航样式*/
.m-tit .u-ico{ position:absolute;right:10px; top:2px; width:30px; height:38px; }  /*首页产品导航箭头样式*/
.m-tit .u-ico:before{content:""; /*配合:before这个属性，写 before的时候一定要加上去*/
	position:absolute;
	width:12px;
    height:12px;
    right:5px;
	top:12px;
	z-index:10;
	-moz-transform: rotate(45deg); /*角度45度，针对火狐浏览器写的兼容*/
	-o-transform: rotate(45deg); /*针对欧朋浏览器写的兼容*/
	-webkit-transform: rotate(45deg); /*针对苹果浏览器写的兼容*/
	transform: rotate(45deg);} /*首页产品导航箭头css3样式*/
.m-tit .u-ico:after{content:""; /*配合:before这个属性，写 before的时候一定要加上去*/
	position:absolute;
	width:12px;
    height:12px;
    right:8px;
	top:12px;
	z-index:10;
	-moz-transform: rotate(45deg);/*角度45度，针对火狐浏览器写的兼容*/
	-o-transform: rotate(45deg);/*针对欧朋浏览器写的兼容*/
	-webkit-transform: rotate(45deg);/*针对苹果浏览器写的兼容*/
	transform: rotate(45deg);} /*首页产品导航箭头css3样式*/
	
/*空白 分割样式*/
.u-empty { height:18px; }
/*空白 分割样式*/

/* 内页分页样式  */
.g-page{ margin-bottom:20px;}/* 底部间距20px*/
.g-page .u-pup,.g-page .u-pne,.g-page .u-sa{border-radius:5px;display:inline-block;font-size:1em;height: 30px;line-height: 30px; text-align: center;width:25%;} /*上一页样式*/
.g-page p{ width:10%; display: inline-block;}
.g-page .pager-select{display:inline-block;padding:0 20px; margin: 0 10px; width:10%; height: 30px; line-height: 30px; position:relative; top: 10px;}
.g-page .page_number{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; pointer-events:none;  border-radius: 5px; box-shadow: 0 0 5px #333 inset; text-indent: -1em;}
.g-page .page_number:before{ width: 0; height:0; content: ""; position: absolute; border-top: 5px solid #aaa; border-left: 5px solid rgba(0,0,0,0);border-right: 5px solid rgba(0,0,0,0); left: 50%; margin-left:15px; top: 12px;}
.g-page .pager-select .page_number span{ padding: 0 2px; font-weight: bold;}
.g-page .select_box{ width: 100%; height: 100%; opacity: 0; position: absolute; z-index: 0; left: 0; top: 0; text-align: center;}
/* 内页分页样式  */



#content img{width:100%;display:block; margin:0 auto; max-width:560px;}

/*公共盒子公用样式*/
.g-sbox .spe2 p a:first-child{ border-top:0;} /*首页有切换效果的样式*/
.g-sbox .m-con .u-lifo{ display:block;padding:13px 35px 0 10px;height:113px; overflow:hidden; position:relative; } /*切换下面的列表样式*/
.g-sbox .m-con .u-lifo img{ float:left; display:inline; margin-right:11px;} /*切换下面列表图片样式*/
.g-sbox .m-con .u-lifo h3{ padding-right:10px; line-height:24px; height:24px; overflow:hidden; white-space:nowrap;}  /*切换下面列表标题样式*/
.g-sbox .m-con .u-lifo p{ margin:5px; font-size:12px; line-height:22px; height:65px; overflow:hidden;} /*切换下面列表描述样式*/
.g-sbox .m-con .u-lifo span,.g-bd .m-con-2 dl span{ display:block; width:9px;height:16px;position:absolute; top:57px;right:3%;}/*切换下面列表箭头样式*/
.g-sbox .m-con .u-lifo span:before,.g-bd .m-con-2 dl span:before,.g-bd .m-con.z-spe dl span:before{ content:""; /*配合:before这个属性，写 before的时候一定要加上去*/
	position:absolute;
	background:#aaaaaa;
	width:11px;
    height:11px;
    right:0;
	top:0;
	z-indx:10;
	-moz-transform: rotate(45deg);/*角度45度，针对火狐浏览器写的兼容*/
	-o-transform: rotate(45deg); /*角度45度，针对欧朋浏览器写的兼容*/
	-webkit-transform: rotate(45deg); /*针对苹果浏览器写的兼容*/
	transform: rotate(45deg);}/*切换下面列表箭头css3样式*/

.g-sbox .m-con .u-lifo span:after,.g-bd .m-con-2 dl span:after,.g-bd .m-con.z-spe dl span:after{ content:"";
	position:absolute;
	background:#fff;
	width:11px;
    height:11px;
    right:4px;
	top:0;
	z-indx:11;
	-moz-transform: rotate(45deg);/*角度45度，针对火狐浏览器写的兼容*/
	-o-transform: rotate(45deg);  /*针对欧朋浏览器写的兼容*/
	-webkit-transform: rotate(45deg); /*针对苹果浏览器写的兼容*/
	transform: rotate(45deg);} /*切换下面列表箭头css3样式*/
.g-sbox .m-con .s-babg:nth-child(2n) span:after,.g-bd .m-con-2 .s-babg:nth-child(2n) span:after,.g-bd .m-con.z-spe .s-babg:nth-child(2n) span:after{background:#fafafa;} /*切换下面列表背景颜色样式*/
.g-sbox .m-con.z-spe{ padding:5px; width:310px; line-height:22px;}/*首页切换公司动态列表样式*/
.g-sbox .m-con.z-spe a{ font-size:14px; height:33px; display:block; line-height:33px; text-indent:8px; width:100%;overflow:hidden;}/*首页切换公司动态列表链接样式*/
/*公共盒子公用样式*/

/*内页面包屑导航样式 开始*/
.m-btit {line-height: 35px; padding-left: 12px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;border-top:1px solid #d9d9d9; box-shadow:0 1px #fff; position:relative; background-color:#f6f6f6;background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);  /*背景渐变，针对苹果浏览器写的兼容*/
	background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea); /*背景渐变，针对火狐浏览器写的兼容*/
	background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea); /*背景渐变，针对欧朋浏览器写的兼容*/
	background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea); /*背景渐变，针对手机微软浏览器写的兼容*/
	background-image: linear-gradient(top, #f6f6f6, #eaeaea); /*背景渐变，正常的写法*/
	border-bottom:1px solid #d9d9d9; } /*内页面包屑导航背景*/
.m-btit:before{content:""; /*配合:before这个属性，写 before的时候一定要加上去*/
	position:absolute;
	left:0;
	top:0;
	width:100%;
	border-top: 1px solid #fff;}	/*内页面包屑导航背景上面的线条*/
.m-btit span{ padding:0 8px; position:relative; height:100%; top:-12px; display:inline-block;}
.m-btit span:before{content:""; /*配合:before这个属性，写 before的时候一定要加上去*/
	position:absolute;
	background:#7c7c7c;
	width:8px;
    height:8px;
    left:2px;
	top:3px;
	z-index:10;
	-moz-transform: rotate(45deg); /*角度45度，针对火狐浏览器写的兼容*/
	-o-transform: rotate(45deg); /*角度45度，针对欧朋浏览器写的兼容*/
	-webkit-transform: rotate(45deg); /*角度45度，针对苹果浏览器写的兼容*/
	transform: rotate(45deg);}  /*角度45度，内页面包屑箭头样式*/
.m-btit span:after{content:""; /*配合:before这个属性，写 before的时候一定要加上去*/
	position:absolute;
	width:8px;
    height:8px;
    left:1px;
	top:3px;
	z-index:11; background-color:#f2f2f2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#eeeeee)); /*针对苹果老式浏览器写的兼容*/
	background-image: -webkit-linear-gradient(top, #f2f2f2, #eeeeee); /*背景渐变，针对苹果浏览器写的兼容*/
	background-image: -moz-linear-gradient(top, #f2f2f2, #eeeeee); /*背景渐变，针对火狐浏览器写的兼容*/
	background-image: -o-linear-gradient(top, #f2f2f2, #eeeeee); /*背景渐变，针对欧朋浏览器写的兼容*/
	background-image: -ms-linear-gradient(top, #f2f2f2, #eeeeee); /*背景渐变，针对手机微软浏览器写的兼容*/
	background-image: linear-gradient(top, #f2f2f2, #eeeeee);  /*背景渐变，正常的写法*/
	-moz-transform: rotate(45deg); /*角度45度，针对火狐浏览器写的兼容*/
	-o-transform: rotate(45deg); /*角度45度，针对欧朋浏览器写的兼容*/
	-webkit-transform: rotate(45deg); /*角度45度，针对苹果浏览器写的兼容*/
	transform: rotate(45deg);	} /*角度45度，内页面包屑箭头样式*/
/*内页面包屑导航样式 结束*/	



/*------------------*/

/* -- 内页产品导肮 -- */
.g-prn .m-con{line-height:40px;margin:5px 12px 10px 12px; font-size:14px;}
.g-prn .m-con p:first-child{ border-top:0;}
.g-prn .m-con p:last-child{ border-bottom:0;}
.g-prn .m-con p{ height:32px; line-height:32px; overflow:hidden;} 
.g-prn .m-con a{ padding:0 8px; font-size:14px;white-space:nowrap;}



/*-------CSS3特效集合--------*/
@keyframes xshow {0% {opacity:0;}25% {opacity:1;}50% {opacity:0;}75% {opacity:1;}100% {opacity:0;}}
@-webkit-keyframes xshow {0% {opacity:0;}25% {opacity:1;}50% {opacity:0;}75% {opacity:1;}100% {opacity:0;}}
@keyframes xshow2 {0% {opacity:0;}20% {opacity:1;}40% {opacity:0;}60% {opacity:1;}80% {opacity:0;}100% {opacity:0;}}
@-webkit-keyframes xshow2 {0% {opacity:0;}25% {opacity:1;}50% {opacity:0;}75% {opacity:1;}100% {opacity:0;}}
@-webkit-keyframes buttonHover{0% {box-shadow:0 0 5px #808080;}50% {box-shadow:0 0 12px #808080;}100%{box-shadow:0 0 5px #808080;}}
@keyframes buttonHover{0% {box-shadow:0 0 5px #808080;}50% {box-shadow:0 0 12px #808080;}100% {box-shadow:0 0 5px #808080;}}

/* 夜间模式  */
.nightMode{ position:fixed; top:0; left:0; z-index:9999; width:100%; height:150%; background:#000;opacity:0.0;display:none; pointer-events:none;}

/* -- 定位导航 -- */
.u-mbg{ height: 100%; width: 100%; background: #000;-moz-opacity:0.6; -webkit-opacity: 0.6; opacity: 0.6; position: fixed; left: 0; top: 0; z-index: 555; display: none;}
.u-dwnav{ position:fixed; bottom:30px; left:30px; z-index: 666; padding:15px;}
.u-dwnav .ico{ width:40px; height:40px; background:#652C7F; border-radius:25px; border:4px solid #fff;-moz-box-shadow:0 0 0 2px #ececec; -webkit-box-shadow:0 0 0 2px #ececec; box-shadow:0 0 0 2px #ececec;}
.u-dwnav .ico.z-gray{ background:#808080;}
.u-dwnav .ico p{ padding:10px; width:30px;}
.u-dwnav .ico i{ width:5px; height:5px; background:#fff; border-bottom:1px solid #13322f; display:block; float:left; margin-right:3px; margin-bottom:2px;}

/*定位导航弹出*/
.u-popup{ width:155px; height:155px; border-radius:85px;  position:fixed; bottom:100px; left:80px; background:#eaeaea; border:6px solid #f2f2f2; box-shadow:inset 0 3px 3px #babcbb;z-index: 666; display: none;}
.u-popup .midline{ width:150px; height:155px; background-size:100%; padding-left:5px;}
.u-popup .midline a { display:inline-block; text-align: center; width: 75px; float:left; height:40px; padding-top:25px; font-size:10px;}

.g-se{ padding:15px 10px;position:relative;} /*搜索布局*/
.g-se .m-ipt{margin-right:43px;}
.g-se .u-glass{ position:absolute; right:10px;top:15px; width:42px; height:30px; background:transparent; z-index:888;}
.g-se .u-bt{ width:42px; height:30px; float:right; border-radius:0 4px 4px 0;-webkit-border-radius:0 4px 4px 0; position:relative;}
.g-se .u-bt:before{content:'';display:block;width:12px;height:12px;border-radius:17px;position:absolute;right:14px;top:5px;z-index:99;} /*搜索右边的图标css3样式*/
.g-se .u-bt:after{content:'';display:block;width:4px;height:10px;border-radius:5px;border:0;position:absolute;right:12px;top:16px;z-index:99;-webkit-transform:rotate(-52deg);-o-transform:rotate(-52deg);-ms-transform:rotate(-52deg);transform:rotate(-52deg);} /*搜索右边的图标css3样式*/
.g-se .u-in{ float:right; position:absolute; z-index:100; right:10px; top:15px; width:42px; height:30px;}
.g-se .u-key{width:100%;
	height:14px;
	padding:7px 0; 
	line-height:14px; 
	border-right:0;
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
	border-bottom-right-radius:0;
	border-top-right-radius:0;
	-webkit-border-top-left-radius:5px;   /*圆角，针对苹果浏览器写的兼容*/
	-webkit-border-bottom-left-radius:5px;  /*圆角，针对苹果浏览器写的兼容*/
	-webkit-border-top-right-radius:0;  /*圆角，针对苹果浏览器写的兼容*/
	-webkit-border-bottom-right-radius:0;  /*圆角，针对苹果浏览器写的兼容*/
	text-indent:15px;
	float:left;} /*搜索中的请输入关键词样式*/


/*--------------------做单时把下面的头部和底部样式删除，换成自己写的样式，样式命名按规范命名----------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------*/
/*头部开始*/
.g-hd img,.g-ft img{ display:block; width:100%;}
/* .g-hd { height: 6.5rem; overflow: hidden; background: url("../bg/tob.jpg") no-repeat; background-size: 100% 7rem;}*/
.g-hd { background: url("../bg/tob.jpg") no-repeat; background-size: 100% 7rem; height:5rem; background-color:#fff; z-index:99999}
.g-hd .tod { height: 1.5rem; text-align: center; font-size: 0.8rem; color: #ffffff; line-height: 1.5rem;}
.g-hd .tod a{color: #ffffff;}
.g-hd .tod span { font-size: 1.17rem; font-weight: bold;}
.g-hd h1 { float: left; width: 35%; margin: 0.5rem 0 0 1%;}
.g-hd h2 { float: left; margin: 1.2rem 0 0 3%; font-size: 1rem; color: #444444; width: 60%;}
.g-hd h2 p { font-size: 1.08rem; color: #444444; font-weight: bold;}
.g-hd h2 span { font-weight: bold; color: #e10906; margin: 0 2%;}
.g-hd h2 em { font-weight: bold; color: #a9a9a9;}
/*头部结束*/
/*底部开始*/
.g-ft {  overflow: hidden; margin-top:1.5rem;margin-bottom:2.5rem;}
.g-ft h3 { height: 4.42rem; text-align: center; background: url("../bg/db_02.jpg") no-repeat; background-size: 100% 4.42rem;}
.g-ft h3 a { display: block; font-size: 1rem; color: #ffffff; padding-top: 2.4rem;}
.g-ft .dbk { height: 7.38rem;}
.g-ft .dbk p { text-align: center; padding-top: 2.13rem; height: 2.95rem;}
.g-ft .dbk p a { display: inline-block; padding: 0 3%; height: 1.88rem; border: 1px solid #d2d2d2; margin: 0 1%; font-size: 1rem; color: #2c190a; line-height: 1.88rem;}
.g-ft .dbk em { display: block; font-size: 1rem; color: #666666; text-align: center;}
.g-ft .dbk em span { margin-left: 3%;}
.social_nav5{height:4.46rem;position:fixed; bottom:0; min-width:320px; max-width:640px; width:100%;  z-index:99; background: #d40011; }
.social_nav5 li{ width:20%; float:left; position:relative; font-size:0.65rem; text-align:center; color:#3b3b3b; height:4.46rem;box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box; border-right: 1px solid #b1000e;}
.social_nav5 li em{ width:50%; display:block; margin:0 auto; padding:0.8rem 0 0.5rem 0;}
.social_nav5 li a{ color:#ffffff;}


/*底部结束*/

/*分页 */
.page{height:38px; padding-top:15px; padding-bottom:15px; float:right; padding-right:0px;}
/*CSS black2 style pagination*/
DIV.black2 {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; MARGIN: 3px; PADDING-TOP: 7px; TEXT-ALIGN:right; margin-right:0px;
}
DIV.black2 A {
	BORDER-RIGHT: #0A99C3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #0A99C3 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #0A99C3 1px solid; COLOR: #0A99C3; PADDING-TOP: 2px; BORDER-BOTTOM: #0A99C3 1px solid; TEXT-DECORATION: none
}
DIV.black2 A:hover {
	BORDER-RIGHT: #0A99C3 1px solid; BORDER-TOP: #0A99C3 1px solid; BORDER-LEFT: #0A99C3 1px solid; COLOR: #fff; BORDER-BOTTOM: #0A99C3 1px solid; BACKGROUND-COLOR: #0A99C3
}
DIV.black2 A:active {
	BORDER-RIGHT: #0A99C3 1px solid; BORDER-TOP: #0A99C3 1px solid; BORDER-LEFT: #0A99C3 1px solid; COLOR: #fff; BORDER-BOTTOM: #0A99C3 1px solid; BACKGROUND-COLOR: #0A99C3
}
DIV.black2 SPAN.current {
	BORDER-RIGHT: #0A99C3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #0A99C3 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #0A99C3 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #0A99C3 1px solid; BACKGROUND-COLOR: #0A99C3
}
DIV.black2 SPAN.disabled {
	BORDER-RIGHT: #C8C8C8 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #C8C8C8 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #C8C8C8 1px solid; COLOR: #C8C8C8; PADDING-TOP: 2px; BORDER-BOTTOM: #C8C8C8 1px solid
}


@media screen and (min-width:320px) {
	html { font-size:75%;}
}
@media screen and (min-width:360px) {
	html { font-size:87%;}
}



@media screen and (min-width:480px) {
	html { font-size:112%;}

}
@media screen and (min-width:568px) {
	html { font-size:131%;}

}
@media screen and (min-width:639px) {
	html { font-size:150%;}
}